/* Ingresa tu css aqui */
.container{
	width: 700px;
	margin: 0px auto;
}
/* lineas largas del menu */
.lineamenu{

align:left ;
width:100%; 
size:100%; 
color:#B0C4DE noshade;

}


/* lineas para separar imagen del texto */
.lineascortas{
	
	width:90px; 
    
    
}

/*clases de menu*/
.barra{
	margin: auto;
	width: 400px;
	font-family: helvetica;
	
	

}
ul{
	list-style: none;

}
li{
	
	float: left;
	border-right:1px solid #737373;
    display: block;
    text-align: center;
    padding: 10px  8px;
    
   

}

/*clases de menu*/
.parrafo1{
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
}

/*clases de galeria coders*/

.galeria{
	
	padding-top: 30px;
	width: 120%;
	height: 120%;

	
}
.nuestras{
	
	font-size: 30px;
    font-style: helvetica;
    color:#737373;
}

	


 .imgaleria{
     
	padding: 10px;

	height:200px;
	width: 200px;

	-webkit-filter: sepia(1);
 }

#lado{

    display: inline-block;
    position: relative;
}

.nombres{
	 font-size: 100%;
    font-style: italic;
    text-align: center;
    color:#737373;
 }



/*clases de chica1*/

 .chica1{
     
	border-radius: 500px;
	
	height:200px;
	width: 200px;
	position: absolute;
	right: 580px;

	

}
.nombre{
	font-size: 50px;
    font-style: helvetica;
    color:#737373;
    position: relative;
    top: 200px;
    left: 150px;

}

.historia{
	text-align: center;
	font-family: arial, helvetica;
	font-size: 20px;
	top: 200px;
	 position: relative;
	bottom: 30px; 
}

.habilidades{
	padding-top: 200px;
	font-size: 30px;
    font-style: helvetica;
    color:#737373;
    }

.portafolio{
	padding-top: 400px;
	font-size: 30px;
    font-style: helvetica;
    color:#737373;
    }
.barras{
	height: 40px;
    background-color:  #737373;
    
    font-size: 20px ;
    font-style: helvetica;
    color:#ffffff;
    margin-bottom: 40px;

}

.cantidad1{
 width: 700px;
}

.cantidad2{
 width: 500px;
}

.cantidad3{
 width: 300px;
}

